h1{
font-size: 100px;
color: brown;
}
img{
    border-radius: 16px;
}
h2{
    font-size: 100px;
    color: azure;
    background-color: brown;
}
a{
font-size: 50px;
color: brown;
text-decoration: none ;
}
